@import 'mixins'

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body
  font-family: 'Oxygen', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight 300
  padding 0
  margin 0
  width 100%
  
h1,h2,h3,h4,h5,h6
  font-family: 'Quattrocento Sans', sans-serif; 
  font-weight 700
  
#content
  width 100%
  height 100%
  
header
  height auto
  width 100%
  position fixed
  top 0
  z-index 9999
  background-color rgba(white, 0.9)
  padding 0
  box-shadow(0 0.05em 0.4em 0px rgba(#000, 0.5))
  
  
  h1
    font-size 1em
    padding 0
    margin 0.2em
    
input
  padding 0.4em
  width 100%
  border 1px solid transparent
  border-bottom 1px solid #CCC
  
  
  
////////////////////
// Editor styles  //
////////////////////  

#story-editor
  background-color rgba(white, 0.85)
  position fixed
  top 0
  right 0
  width 30%
  height auto
  padding 1em
  //padding-top 2em
  max-width 300px
  z-index 99999
  border-radius 3px
  
  h3 
    margin 0.8em 0
    margin-bottom 0.3em
  
  .delete-section
    opacity 0.35
    &:hover
      opacity: 0.8
      
  #save
    display block
    margin-top 1.4em
    margin-left auto
    margin-right auto
  
  
.sortable-dragging
  opacity 0.8

.sortable-placeholder
  height 1em
  width 100%
  background-color #CCC
  
.must-have
  input
    border 1px solid transparent
    border-bottom 1px solid red
  
#section-list
  font-size 0.8em
  margin 0
  margin-top 1em
  padding 0
  
  li
    list-style-type none
    padding 0
    margin 0
  

////////////////////
// Section styles //
////////////////////

sectionHeight = 800px

#content section
  width 100%
  border-bottom 1px solid black
  //min-height sectionHeight
  
//// photos
.photoBigText, .photoCaption
  z-index 1
  position relative
  height auto
  width 100%
  box-shadow(0 -0.25em 1em 0px rgba(#000, 0.7))
  
  h2
    font-size 3.5em
    margin-top 0
    padding-top 1em
    text-align center
    color white
    text-shadow 0 0.06em 2px rgba(black, 0.45)
    
  .caption
    //font-size 0.9em
    padding 0.5em 1em
    max-width 42%
    background-color rgba(white, 0.8)
    position absolute
    bottom 0
    right 0
  
  .photo-background
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position center center
    height 100%
    min-height sectionHeight
    margin 0
    padding 0
    

// photoBigText
.photoBigText
  img
    max-width 200px

// photoCaption
//.photoCaption

//// videos

.videoYoutube, .videoVimeo
  // Responsive YouTube embed from http://avexdesigns.com/responsive-youtube-embed/
  .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
  }
  
  .caption
    z-index 99999
    position absolute
    top 0
    right 0
 
  .video-container iframe,
  .video-container object,
  .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  
//// locations
.locationSinglePlace
  .single-location-map
    min-height 700px
  
  .leaflet-popup img      
    width 320px
    border 1px solid white
    border-radius 3px
    box-shadow(0 0.2em 0.4em 0px rgba(#000, 0.25))
    
