#story-editor {
  position: fixed;
  right: 0;
  width: 30%;
  height: auto;
  border: 1px solid #000;
  padding: 1em;
}
.sortable-dragging {
  opacity: 0.8;
}
.sortable-placeholder {
  height: 1em;
  width: 100%;
  background-color: #ccc;
}
.must-have {
  border: 2px solid #f00;
}
.photoBigText img {
  max-width: 200px;
}
