@import 'mixins'

* { 
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
}

body
  font-family: 'Oxygen', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight 300
  padding 0
  margin 0
  width 100%
  background-color #F0F0F0
  
h1,h2,h3,h4,h5,h6
  font-family: 'Quattrocento Sans', sans-serif; 
  font-weight 700
  
#content
  width 100%
  height 100%
  
header
  display none
  height auto
  width 100%
  position fixed
  top 0
  z-index 9999
  background-color rgba(white, 0.9)
  padding 0
  box-shadow(0 0.05em 0.4em 0px rgba(#000, 0.5))
  
  h1
    font-size 1em
    padding 0
    margin 0.2em 0.5em
    display inline-block
    vertical-align middle
    
  #nav-section-list
  
    margin 0
    padding 0.25em 
    display inline-block
    vertical-align middle
    
    li
      display inline-block
      margin-right 0.5em
      
    
    
  
    
input
  padding 0.4em
  width 100%
  border 1px solid transparent
  border-bottom 1px solid #CCC
  
  
  
////////////////////
// Editor styles  //
////////////////////  

#story-editor
  background-color rgba(white, 0.85)
  position fixed
  top 0
  right 0
  width 30%
  height auto
  padding 1em
  //padding-top 2em
  max-width 300px
  z-index 99999
  border-radius 3px
  
  h3 
    margin 0.8em 0
    margin-bottom 0.3em
    
  h4
    margin 0.5em 0
    padding 0
    
  button
    border 1px solid grey
    background-color rgba(white, 0.8)
    border-radius 0.2em
    
  
  .delete-section
    opacity 0.25
    &:hover
      opacity: 0.5
      
  #save
    display block
    margin-top 2em
    /*
    margin 2em 0
    width 100%
    margin-left auto
    margin-right auto
    */
    
  label
    font-size 0.8em
    
  #content-editor
    //background-color #F6F6F6
    background-color: #fbfafc;
    background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(rgb(246, 246, 246)), to(rgb(251, 250, 252)));
    background-image: -webkit-radial-gradient(50% 50%, rgb(251, 250, 252), rgb(246, 246, 246));
    background-image: -moz-radial-gradient(50% 50%, rgb(251, 250, 252), rgb(246, 246, 246));
    background-image: -o-radial-gradient(50% 50%, rgb(251, 250, 252), rgb(246, 246, 246));
    background-image: -ms-radial-gradient(50% 50%, rgb(251, 250, 252), rgb(246, 246, 246));
    background-image: radial-gradient(50% 50%, rgb(251, 250, 252), rgb(246, 246, 246));
    border 1px solid #E2E2E2

    
    border-radius 3px
    padding 0.5em 0.25em
    //box-shadow(0 0 0.6em 0px rgba(#000, 0.11))
    
    h4
      margin 0
      padding 0
      text-align center
      
    #editor-dropdowns
      text-align center
      
      #new-section-type
        text-transform capitalize
    
  
  
.sortable-dragging
  opacity 0.8
  border-radius 0.2em
  background-color rgba(#999,0.5)

.sortable-placeholder
  height 1em
  width 100%
  background-color: #d6d6d6;
  border-radius 0.2em
  background-color: #aaaaaa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(170, 170, 170)), to(rgb(214, 214, 214)));
  background-image: -webkit-linear-gradient(top, rgb(170, 170, 170), rgb(214, 214, 214));
  background-image: -moz-linear-gradient(top, rgb(170, 170, 170), rgb(214, 214, 214));
  background-image: -o-linear-gradient(top, rgb(170, 170, 170), rgb(214, 214, 214));
  background-image: -ms-linear-gradient(top, rgb(170, 170, 170), rgb(214, 214, 214));
  background-image: linear-gradient(top, rgb(170, 170, 170), rgb(214, 214, 214));
  
  
  
.must-have
  input
    border 1px solid transparent
    border-bottom 1px solid red
  
#section-list
  font-size 1.2em
  margin 0
  //margin-top 1em
  padding 0
  
  li
    list-style-type none
    padding 0
    margin 0
    
  

////////////////////
// Section styles //
////////////////////

sectionHeight = 800px

#content section
  width 100%
  //border-bottom 1px solid black
  //min-height sectionHeight
  
//// photos
.photoBigText, .photoCaption
  z-index 1
  position relative
  height auto
  width 100%
  box-shadow(0 -0.25em 1em 0px rgba(#000, 0.7))
  
  h2
    font-size 3.5em
    margin-top 0
    padding-top 1em
    text-align center
    color white
    text-shadow 0 0.06em 2px rgba(black, 0.45)
    
  .caption
    //font-size 0.9em
    padding 0.5em 1em
    max-width 42%
    background-color rgba(white, 0.8)
    position absolute
    bottom 0
    right 0
  
  .photo-background
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position center center
    height 100%
    min-height sectionHeight
    margin 0
    padding 0
    

// photoBigText
.photoBigText
  img
    max-width 200px

// photoCaption
//.photoCaption

//// videos

.videoYoutube, .videoVimeo
  // Responsive YouTube embed from http://avexdesigns.com/responsive-youtube-embed/
  .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
  }
  
  .caption
    z-index 99999
    position absolute
    top 0
    right 0
 
  .video-container iframe,
  .video-container object,
  .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  
//// locations
.locationSinglePlace
  text-align center
  
  .single-location-map
    min-height 700px
  
  .leaflet-popup img      
    width 320px
    border 1px solid white
    border-radius 3px
    box-shadow(0 0.2em 0.4em 0px rgba(#000, 0.25))
    
.leaflet-top
  top 3em !important
    
//// timeline
.timelineVerite
  height 600px
  
  h2.timeline-title
    background-color white
    margin 0
    padding 0.8em
    text-align center
    border-bottom 1px solid #EFEFEF
    
    